/* Navigation Bar */

*{
    text-decoration: none;
}

body{
    background: linear-gradient(rgb(190, 255, 255),white);
}

.nav{
    width: 1515px;
    margin-top: -15px;
    margin-left: -5px;
    border-radius: 10px;
    background:linear-gradient(aqua,lightblue) ;
    position: fixed;

}
.navbar{
    font-family: Times New 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-right: 10px;
}

.navdiv{
    display: flex;
    justify-content: space-between;
}

.slogan{
    font-size: 30px;
    font-family: cursive;
    font-weight: 900;
    margin-top: 26px;
    margin-left: 30px;
}

ul{
    margin-top: 35px;
    margin-right: 60px;
    font-size: 20px;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: black;
    font-weight: bold;
    margin-right: 25px;
}


/* Search bar */

.home{
    height: 500px;
    margin-left: 20px;
    margin-top: 15px;
}

.search{
    padding: 5px;
    margin-left: 400px;
    margin-top: -30px;
}

.i{
    font-size: 15px;
    margin-top: -26px;
    margin-left: 590px;
}


.para{
    font-size: 30px;
    font-weight: 900;
    margin-top: -450px;
    margin-left: 550px;
    background-image: linear-gradient(red,rgb(0, 255, 208));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
}

/* Tourism Place 1*/

button{
    width: 55px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(239, 255, 255);
    margin-left: 15px;
}

.img{
    width: 1500px;
    height: 350px;
    overflow: auto;
    font-size: 18px;
    margin-left: -10px;
    margin-top: 50px;
    display: flex;
}

/* India */
.ind{
    margin-left: 57px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.india{
    margin-top: -7px;
    margin-left: 5px;
}

.btn1{
    margin-top: -70px;
    margin-left: 215px;
}

/* Australia */

.aus{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.aust{
    margin-top: -7px;
    margin-left: 5px;
}

.btn2{
    margin-top: -70px;
    margin-left: 215px;
}

/* France */

.fran{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.franc{
    margin-top: -7px;
    margin-left: 5px;
}

.btn3{
    margin-top: -70px;
    margin-left: 215px;
}

/* Swizerland */


.swiz{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.swizr{
    margin-top: -7px;
    margin-left: 5px;
}

.btn4{
    margin-top: -70px;
    margin-left: 215px;
}


/* Bora Bora */

.bora{
    margin-left: 57px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.bor{
    margin-top: -7px;
    margin-left: 5px;
}


/* Petra */

.petra{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.pet{
    margin-top: -7px;
    margin-left: 5px;
}


/* Dubai */

.dubai{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.dub{
    margin-top: -7px;
    margin-left: 5px;
}


/* London */

.lond{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.lon{
    margin-top: -7px;
    margin-left: 5px;
}

/* China */

.chin{
    margin-left: 57px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.china{
    margin-top: -7px;
    margin-left: 5px;
}

/* Giza */

.giza{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.giz{
    margin-top: -7px;
    margin-left: 5px;
}

/* Naiagara */

.naiagara{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.naiag{
    margin-top: -7px;
    margin-left: 5px;
}

/* Dead Sea */

.dead{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.sea{
    margin-top: -7px;
    margin-left: 5px;
}

/* Grand Canyon */

.grand{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.canyon{
    margin-top: -7px;
    margin-left: 5px;
}

/* Leaning Wall */

.lean{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.wall{
    margin-top: -7px;
    margin-left: 5px;
}

/* Angkor Wat */

.ang{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.angk{
    margin-top: -7px;
    margin-left: 5px;
}

/* Gros Piton */

.piton{
    margin-left: 55px;
    margin-top: 10px;
    width: 310px;
    height: 335px;
    background-color: rgb(201, 185, 169);
    border-radius: 10px;
}

.pit{
    margin-top: -7px;
    margin-left: 5px;
}

/* Footer */

/* Company */

.footer{
    height: 150px;
    width: 1515px;
    border-radius: 10px;
    background:linear-gradient(aqua,lightblue) ;
    margin-top: 25px;
    margin-left: -5px;
}

.bottom{
    width: 500px;
}

.bottom h2{
    margin-left: 30px;
    margin-top: 15px;
    padding-top: 30px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.bottom p{
    margin-left: 30px;
    color: rgb(243, 4, 4);
}

/* Follow Us */

.us{
    margin-top: 10px;
    margin-left: 850px;

}

 .follow{
    margin-left: 470px;
    margin-top: -126px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.follow2{
    margin-left: 500px;
    font-size: 25px;
    color: rgb(4, 71, 48);
}
.follow3{
    margin-left: 463px;
    margin-top: -28px;
    font-size: 25px;
    color: rgb(71, 4, 45);
}
.follow4{
    margin-left: 534px;
    margin-top: -30px;
    font-size: 25px;
    color: rgb(16, 3, 82);
}
.follow5{
    margin-left: 565px;
    margin-top: -30px;
    font-size: 25px;
    color: rgb(3, 1, 15);
}
